<html>
    <head>
        <title>this is About Page</title>
    </head>
    <body>
        <h1>
                This is About Page.
        </h1>
        <img src="/images/img2.png" alt="img2.png">
        <%- include('header') -%>
    </body>
</html>