<html>
    <head>
        <title>this is Contect Page</title>
    </head>
    <body>
        <h1>
                This is Contect Page.
        </h1>
        <img src="/images/img3.png" alt="img3.png">
        <%- include('header') -%>
    </body>
</html>